:root{
    --bg-tabletask:rgb(17, 1, 1);
    --bg-navbar:#102222;
    --border-color-mode-dark:cyan;
    --text-color:rgb(255, 255, 255);
}

.item-details{
    width: 200px;
    height: 300px;
    background: var(--bg-tabletask);
    display: flex;
    flex-direction: column;


}

.item-details-header{
    height: 30px;
    color: var(--text-color-mode-dark);
    padding:5px;    
}